@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

.banner {
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 8px;
  text-align: center;

  &__image img {
    width: 100%;
    height: auto;
  }

  &__content {
    margin-top: 10px;
  }

  &__subtitle {
    font-weight: 700;
    margin: 0;
  }

  &__text {
    font-size: 0.9rem;
    margin: 5px 0;
  }

  &__button {
    background-color: #7abb00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #cc292b;
    }
  }

  &--mobile {
    width: 146px;
    .banner__image img {
      height: 77px;
    }
  }

  &--desktop {
    width: 232px;
    .banner__image img {
      height: 110px;
    }
  }
}

@media (min-width: 768px) {
  .banner {
    &--desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    &--desktop {
      display: none;
    }
    &--mobile {
      display: block;
    }
  }
}
